.cabecalho{
    background-color: rgba(128, 128, 128, 0.849);
    padding: 20px 0;/*espaçamento interno 20px para cima e pra baixo e 0 para direita e esquerda*/
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto; /*para cima e para baixo é 0 e para direita e esquerda é automatico*/
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px; /*espaçamento externo esquerda*/
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;/*tira o sublinhado*/
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20PX;
    box-sizing: border-box;/*o padding fica dentro do width (não acrescentando no tamanho)*/
}

.produtos h2{
    font-size: 30px;
    font-weight: bolder;
}

.description{
    font-size:18px ;
}
.price{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
}

